<div class="panel panel-primary"
     ng-controller="ProductListCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Product List
    </div>


    <div class="panel-body">


        <div>

            <label class="  control-label ">Search</label>
            <input type="text" class=" form-control" ng-model="vm.searchText" ng-change="vm.doSearch()" />
            <input type="radio" ng-model="vm.searchOption" value="code" ng-change="vm.doSearch()" /> &nbsp; Product code
            <input type="radio" ng-model="vm.searchOption" value="name" ng-change="vm.doSearch()" /> &nbsp; Product name


        </div>

        <table class="table">

            <thead>
                <tr>
                    <td class="cssCol1">Product</td>
                    <td class="cssCol2">Code</td>
                    <td class="cssCol3">Available</td>
                    <td class="cssCol3">Price</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td>{{ product.productName}}</td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate | date }}</td>
                    <td>{{ product.price | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>