@model PS_APM_WebAPI_266.Controllers.IndexPage

@{
    ViewBag.Title = "ps-266 - API Server";
}

<h3>Web API</h3>

<div>
    @Html.DisplayFor(m=>m.Title)

</div>

<pre>
@Html.Raw( Model.TestData)
</pre>